.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: #f9fafb;
    height: 48px;
}
.login {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #808080;
    cursor: pointer;
    font-size: 15px;
    height: 28px;
    width: 120px;
    font-family: Yekan;
    margin:0 2rem;
}

.links{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:right;
}
.nav_link{
    margin:0 2rem;
    font-size:15px;
    font-family:Yekan;
    color:#111111;
    cursor:pointer;
}
.dropdownContent{
    text-align:right;
}
.nav_link:hover .dropdownContent{
    display:block;
}

.link_lists{
    list-style-type: none;
}
