.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fafb;
    height: 48px;
}

.login {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #808080;
    cursor: pointer;
    font-size: 15px;
    height: 28px;
    width: 120px;
    font-family: Yekan;
    margin: 0 2rem;
}

.logout{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #808080;
    cursor: pointer;
    font-size: 15px;
    height: 28px;
    width: 120px;
    font-family: Yekan;
    margin: 0;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    text-align: right;
    padding-right: 50px;
}

.dropdown {
    width: 80px;
}

/* .nav_link {
    width: 80px;
} */

.nav_link>a {
    /* padding-right: 30px; */
    font-size: 15px;
    font-family: Yekan;
    color: #111111;
    cursor: pointer;
    text-decoration: none;
}


.nav_link>a:hover {
    color: #d73948;
}

.dropdownContent {
    display: none;
    text-align: right;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 90px;
    padding: 20px 0;
    padding-right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.links>span:hover .dropdownContent {
    display: block;
}

.link_lists {
    list-style-type: none;
}

.link_lists>li>a {
    text-decoration: none;
    color: #000;
    /* padding-right: 5px; */
}

.links>span {
    /* width: 140px; */
    margin-left: 30px;
    margin-right: 10px;
}

.dropdownContent>div>a {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    font-size: large;
    font-weight: bold ;
}

.link_lists>li>a:hover , .dropdownContent>div>a:hover {
    color: #d73948;
}

li {
    padding: 10px 0;
}

.profile_container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    
}

.profile_img{
    width:40px;
    height:40px;
    margin:1rem  1rem;
    /* border-radius:50%;
    margin:10px; */
}
.profile_img:hover{
    cursor:pointer;
}
.profile_img > img{
    max-width:100%;
    max-height:100%;
    border-radius:50%;
    height:auto;
}