body {
    background-color: #f2f3f5;
    font-family: Yekan;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.title {
    display: flex;
    text-align: right;
}

.name {
    margin-right: 20px;
}

.search {
    margin-top: 20px;
    width: 460px;
    height: 40px;
}

.searchForm {
    width: 100%;
    height: 100%;
}

.searchbar {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 17px;
    font-family: Yekan;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-right: 44px;
}

.searchbar:focus {
    outline: none;
}

.searchbtn {
    position: relative;
    pointer-events: none;
    bottom: 33px;
    left: 37px;
    text-align: right;
}

.searchicon {
    width: 23px;
    height: 23px;
}

h1 {
    color: #d73948;
    margin: 0;
    font-size: 40px;
    font-weight: normal;
}

span {
    color: #808080;
    font-size: 14px;
}

.form-input--invalid label,
.form-input--invalid p {
    color: red;
}

.form-input--invalid p{
    font-size: 14px;
}

.form-input--invalid input {
    border: 1px solid red;
    background: #ffd1d1;
}

#password {
    padding-left: 40px;
    padding-top: 2px;
}

#signbtn {
    background-color: #d73948;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    color: white;
    font-family: Yekan;
    font-size: 17px;
    cursor: pointer;
}

#changesign {
    font-size: 15px;
    color: rgb(51, 122, 183);
    cursor: pointer;
    display: block;
}